@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



body {
  background-color: #f7fafc;
  color: #1a202c;
}

.dark body {
  background-color: #1F2937;
  color: #f7fafc;
} 
html {
  scroll-behavior: smooth;
}

